<div class="store-main-content" [class]="isCartEmpty ? '' : 'cart-with-items'" #store>
    <section class="store">
        <div class="content-wrapper">
            <div class="searchbar" *ngIf="isFeatureEnabled('searchbar')">
                <form [formGroup]="search">
                    <input type="text" formControlName="search" placeholder="Buscar Pokemon..."  (ngModelChange)="filterUpdated($event)">
                </form>
            </div>
            <div class="product-container" *ngIf="pokemonList; else loadingPokemons">
                <div class="product-card" *ngFor="let pokemon of pokemonListFiltered; let i = index">
                    <div class="product-image" [routerLink]="['/pokemon/details/', getPokemonIdFromURL(pokemon.pokemon.url)]" gaEvent gaCategory="Loja" gaLabel="Visualizar detalhes do pokemon {{pokemon.pokemon.name}}">
                        <img loading="lazy" [src]='"https://pokeres.bastionbot.org/images/pokemon/" + getPokemonIdFromURL(pokemon.pokemon.url) + ".png"' alt="Imagem do pokemon {{pokemon.pokemon.name}}">
                    </div>
                    <div class="product-info">
                        <strong>{{pokemon.pokemon.name | titlecase }}</strong>
                        <p><img class="pokecoin" src="./assets/images/pokecoin.png" alt="Pokemoeda"> {{getPokemonIdFromURL(pokemon.pokemon.url)}} <span>Poke moedas</span></p>
                    </div>
                    <div class="product-actions">
                        <button type="button" class="btn btn--secondary" [class]="getButtonStatusByCart(pokemon.pokemon.name)" (click)="addToCart(pokemon.pokemon)" gaEvent gaCategory="Loja" gaLabel="Pokemon {{pokemon.pokemon.name}} adicionado ao carrinho">{{getItemStatusByCart(pokemon.pokemon.name)}}</button>
                    </div>
                </div>
            </div>
            <button *ngIf="(pokemonListFiltered.length > 0) && (maxRecordsToShow > recordsRendered) && (filterParameter.length === 0)" type="button" class="btn btn--primary btn-show-more-records" (click)="mountPokemonsToStore(12)" gaEvent gaCategory="Loja" gaLabel="Carregar mais itens da loja">Mostrar mais</button>
            
            <ng-template #loadingPokemons>
                <div class="loading-grid">
                    <div>
                        <div class="ph-item">
                            <div class="ph-col-12">
                                <div class="ph-picture"></div>
                                <div class="ph-row">
                                    <div class="ph-col-6 big"></div>
                                    <div class="ph-col-6 empty"></div>
                                    <div class="ph-col-12"></div>
                                </div>
                            </div>
                            <div>
                                <div class="ph-row">
                                    <div class="ph-col-12"></div>
                                    <div class="ph-col-2"></div>
                                    <div class="ph-col-10 empty"></div>
                                    <div class="ph-col-10 big"></div>
                                    <div class="ph-col-2 big empty"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="ph-item">
                            <div class="ph-col-12">
                                <div class="ph-picture"></div>
                                <div class="ph-row">
                                    <div class="ph-col-6 big"></div>
                                    <div class="ph-col-6 empty"></div>
                                    <div class="ph-col-12"></div>
                                </div>
                            </div>
                            <div>
                                <div class="ph-row">
                                    <div class="ph-col-12"></div>
                                    <div class="ph-col-2"></div>
                                    <div class="ph-col-10 empty"></div>
                                    <div class="ph-col-10 big"></div>
                                    <div class="ph-col-2 big empty"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="ph-item">
                            <div class="ph-col-12">
                                <div class="ph-picture"></div>
                                <div class="ph-row">
                                    <div class="ph-col-6 big"></div>
                                    <div class="ph-col-6 empty"></div>
                                    <div class="ph-col-12"></div>
                                </div>
                            </div>
                            <div>
                                <div class="ph-row">
                                    <div class="ph-col-12"></div>
                                    <div class="ph-col-2"></div>
                                    <div class="ph-col-10 empty"></div>
                                    <div class="ph-col-10 big"></div>
                                    <div class="ph-col-2 big empty"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="ph-item">
                            <div class="ph-col-12">
                                <div class="ph-picture"></div>
                                <div class="ph-row">
                                    <div class="ph-col-6 big"></div>
                                    <div class="ph-col-6 empty"></div>
                                    <div class="ph-col-12"></div>
                                </div>
                            </div>
                            <div>
                                <div class="ph-row">
                                    <div class="ph-col-12"></div>
                                    <div class="ph-col-2"></div>
                                    <div class="ph-col-10 empty"></div>
                                    <div class="ph-col-10 big"></div>
                                    <div class="ph-col-2 big empty"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="ph-item">
                            <div class="ph-col-12">
                                <div class="ph-picture"></div>
                                <div class="ph-row">
                                    <div class="ph-col-6 big"></div>
                                    <div class="ph-col-6 empty"></div>
                                    <div class="ph-col-12"></div>
                                </div>
                            </div>
                            <div>
                                <div class="ph-row">
                                    <div class="ph-col-12"></div>
                                    <div class="ph-col-2"></div>
                                    <div class="ph-col-10 empty"></div>
                                    <div class="ph-col-10 big"></div>
                                    <div class="ph-col-2 big empty"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="ph-item">
                            <div class="ph-col-12">
                                <div class="ph-picture"></div>
                                <div class="ph-row">
                                    <div class="ph-col-6 big"></div>
                                    <div class="ph-col-6 empty"></div>
                                    <div class="ph-col-12"></div>
                                </div>
                            </div>
                            <div>
                                <div class="ph-row">
                                    <div class="ph-col-12"></div>
                                    <div class="ph-col-2"></div>
                                    <div class="ph-col-10 empty"></div>
                                    <div class="ph-col-10 big"></div>
                                    <div class="ph-col-2 big empty"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="ph-item">
                            <div class="ph-col-12">
                                <div class="ph-picture"></div>
                                <div class="ph-row">
                                    <div class="ph-col-6 big"></div>
                                    <div class="ph-col-6 empty"></div>
                                    <div class="ph-col-12"></div>
                                </div>
                            </div>
                            <div>
                                <div class="ph-row">
                                    <div class="ph-col-12"></div>
                                    <div class="ph-col-2"></div>
                                    <div class="ph-col-10 empty"></div>
                                    <div class="ph-col-10 big"></div>
                                    <div class="ph-col-2 big empty"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="ph-item">
                            <div class="ph-col-12">
                                <div class="ph-picture"></div>
                                <div class="ph-row">
                                    <div class="ph-col-6 big"></div>
                                    <div class="ph-col-6 empty"></div>
                                    <div class="ph-col-12"></div>
                                </div>
                            </div>
                            <div>
                                <div class="ph-row">
                                    <div class="ph-col-12"></div>
                                    <div class="ph-col-2"></div>
                                    <div class="ph-col-10 empty"></div>
                                    <div class="ph-col-10 big"></div>
                                    <div class="ph-col-2 big empty"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-container *ngIf="pokemonList">
                <div class="search-not-found" *ngIf="(pokemonListFiltered.length === 0)">
                    <div class="content-wrapper">
                        <p>Nenhum pokemon encontrado com este termo de busca :(</p>
                        <img src="./assets/images/pikachu-search.jpg" alt="Nenhum pokemon encontrado com este termo de busca :(" title="Nenhum pokemon encontrado com este termo de busca :(">
                    </div>
                </div>
            </ng-container>            
        </div>    
    </section>
</div>
