@import '../../../scss/config/variables';
@import '../../../scss/mixins/all';

.pokemon-main-content{
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 20px;
    width: 100%;
}
section.pokemon-details{
    display: flex;
    justify-content: space-between;
    .pokemon-image{
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;
        &:after{
            content: "";
            display: block;
            width: 400px;
            height: 100%;
            border-radius: 50%;
            background-color: var(--tertiary-color);
            opacity: 0.7;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
        img{
            max-width: 300px;
        }
    }
    .pokemon-information{
        flex: 1;
        h2{
            font-size: 2.2rem;
            font-weight: bold;
            margin-bottom: 30px;
        }
        h3{
            margin-bottom: 10px;
        }
        .pokemon-data{
            margin-bottom: 20px;
            ul{
                font-family: 'Nunito Sans', sans-serif;
                li{
                    padding: 4px 0;
                    img{
                        display: block;
                    }
                    p{
                        .pokecoin{
                            width: 24px;
                            margin-right: 4px;
                            height: 24px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                        span{
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
    .btn-add-to-cart{
        max-width: 300px;
    }
}

@include for-tablet-landscape-down{
    .pokemon-main-content{
        padding: 30px;
    }

    section.pokemon-details{
        flex-direction: column;
        margin: 30px 0 50px;
        .pokemon-image{
            img{                    
                max-width: 200px;                
            }
            &:after{
                width: 220px;
            }
        }
        .pokemon-information{
            margin-top: 30px;
            text-align: center;
            .pokemon-data{
                ul li img{
                    margin: 0 auto;
                }
            }
        }
        .btn-add-to-cart{
            margin: 0 auto;
        }
    }
}