<aside class="cart-sidebar" [class]="((items.length > 0) && getCartVisibility) ? 'cart-opened' : ''">
    <h2> <i class="material-icons">shopping_cart</i> <span>Carrinho:</span> </h2>

    <div class="cart-content">
        <div class="cart-item" *ngFor="let item of items">
            <img class="item-image" [src]='"https://cdn.traction.one/pokedex/pokemon/" + item.id + ".png"' alt="Imagem do pokemon {{item.name}}">
            <p class="cart-item-description">{{ item.name | titlecase }} <span>(x{{ item.amount }})</span></p>
            <div class="cart-item-price">
                <img class="pokecoin" src="./assets/images/pokecoin.png" alt="Pokemoeda">
                <span>{{ item.price }}</span>
            </div>
            <div class="cart-remove-item">
                <button type="button" (click)="removeFromCart(item)" gaEvent gaCategory="Carrinho de compras" gaLabel="Pokemon {{item.name}} removido do carrinho de compras"><i class="material-icons">delete_outline</i></button>
            </div>
        </div>
    </div>
    <div class="cart-footer">
        <div class="cart-quantity">
            {{getTotalItems}} Pokémons adicionados.
        </div>
        <div class="cart-totals">
            <p class="cart-total-title">Total:</p>
            <p>
                <img class="pokecoin" src="./assets/images/pokecoin.png" alt="Pokemoeda">
                <span class="total-price">{{getTotalPrice}}</span>
            </p>
        </div>
        <button type="button" class="btn btn--secondary btn--continue-shopping" (click)="toggleCartVisibility()"><span>Continuar comprando</span></button>

        <button type="button" class="btn btn--primary btn--complete-purchase" (click)="completePurchase()"><span>Finalizar compra</span></button>
    </div>
</aside>
