<div class="content_wrapper">
    <section class="success_screen">
        <img class="success_image" src="./assets/images/success-checked.gif" alt="Sucesso!" />
        <p class="main_title">
            <span>Parabéns </span>
            <strong>Você realizou compra dos seus novos Pokémons!</strong>
        </p>

        <div class="content_info">
            <div class="cashback_box">
                <div class="cashback_message">
                    <p>Nessa compra você garantiu um cashback de 30 Poke Coins pelo AME!</p>
                </div>
            </div>           
            <button type="button" class="btn btn--primary btn--leave-cart" (click)="clearCart()">Finalizar</button>
        </div>
    </section>
</div>