@import "../../../../../scss/config/variables";
@import "../../../../../scss/mixins/all";

:host {
    .content_wrapper {
        padding: 20px;
        section.success_screen {
            @include for-tablet-landscape-up {
                max-width: 750px;
                margin: 0 auto;
                .content_info {
                    height: 60vh;
                    overflow-y: hidden !important;
                }
                p.main_title:after {
                    left: 0 !important;
                }
                .selected_product_details {
                    margin-bottom: 40px !important;
                }
                .cashback_message {
                    justify-content: center !important;
                    margin: 30px 0;
                }                
            }
            img.success_image {
                display: block;
                margin: 0 auto 5px;
            }
            .content_info {
                height: 56vh;
                padding: 0px 15px;
                overflow-y: auto;
            }
            p.main_title {
                font-size: 18px;
                text-align: left;
                position: relative;
                &:after {
                    content: "";
                    height: 3px;
                    width: 90px;
                    left: -20px;
                    bottom: 0;
                    display: block;
                    position: absolute;
                    background-color: $primary-color;
                }
                strong {
                    font-size: 24px;
                    line-height: 1.2;
                    display: block;
                    color: $primary-color;
                    padding-bottom: 15px;
                }
            }
            .cashback_box {
                border: 1px solid #c7c8d9;
                background: var(--tertiary-color);
                border-radius: 10px;
                padding: 12px 15px;
                margin: 30px 0;
                font-weight: bold;
                .cashback_message {
                    display: flex;
                    width: 100%;
                    justify-content: space-evenly;
                    align-items: center;
                    i {
                        font-size: 50px;
                        margin-right: 15px;
                    }
                    p {
                        font-size: 20px;
                        margin-bottom: 0;
                    }
                }
            }
            .btn--leave-cart{
                max-width: 300px;
                margin: 0 auto;
                padding: 15px;
            }
        }
    }
}
