<header class="main-header">
    <div class="content-wrapper">
        <div class="logo">
            <a routerLink="home" gaEvent gaCategory="Header" gaLabel="Pokeball home">
                <div class="pokeball"></div>
            </a>
            <div>
                <a routerLink="home">
                    <h1>Poke Store</h1>
                    <p><span>{{pokemonFamily}}</span> edition</p>
                </a>                
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="https://fire-pokestore.web.app/" title="Loja de Pokemons de fogo"  gaEvent gaCategory="Menu" gaLabel="Fire Store">Fire Store</a>
                </li>
                <li>
                    <a href="https://water-pokestore.web.app/" title="Loja de Pokemons de água">Water Store</a>
                </li>
                <li>
                    <a href="https://grass-pokestore.web.app/" title="Loja de Pokemons de grama">Grass Store</a>
                </li>
                <li>
                    <a href="https://ghost-pokestore.web.app/" title="Loja de Pokemons fantasma">Ghost Store</a>
                </li>
                <li>
                    <a href="https://ice-pokestore.web.app/" title="Loja de Pokemons de gelo">Ice Store</a>
                </li>
            </ul>
        </nav>
        <div class="cart-nav">
            <a class="cart-link" (click)="toggleCart()" title="Carrinho de compras" gaEvent gaCategory="Menu" gaLabel="Abertura do carrinho de compras">  
                <i class="material-icons">shopping_cart</i>
                <div class="cart-counter">
                    <span>{{getTotalItems}}</span>
                </div>
            </a>
        </div>        
    </div>
</header>