<header class="main-header">
    <div class="content-wrapper">
        <div class="logo">
            <a routerLink="home">         
                <div class="pokeball"></div>
            </a>
            <div>
                <a routerLink="home">
                    <h1>Poke Store</h1>
                    <p><span>{{pokemonFamily}}</span> edition</p>
                </a>                
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="https://fire-pokestore.web.app/">Fire Store</a>
                </li>
                <li>
                    <a href="https://water-pokestore.web.app/">Water Store</a>
                </li>
                <li>
                    <a href="https://grass-pokestore.web.app/">Grass Store</a>
                </li>
                <li>
                    <a href="https://ghost-pokestore.web.app/">Ghost Store</a>
                </li>
                <li>
                    <a href="https://ice-pokestore.web.app/">Ice Store</a>
                </li>
            </ul>
        </nav>
        
    </div>
</header>