$primary-color: var(--primary-color, #d83f3f);
$secondary-color: var(--primary-color, #c24d4d);
$tertiary-color: var(--primary-color, #fddfdf);
$text-color: var(--text-color, #696969);
$background-color: var(--text-color, #f5f5f5);
