/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Heebo", sans-serif;
}

.content-wrapper {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

@import "~@angular/material/theming";
@import "./theme.scss";
